<section class="content-wrapper">
    <div class="content-inner {{ section.settings.alignment }}">
        {% for block in section['block_order'] %}
            {% block %}
        {% endfor %}
    </div>    
</section>

{% styles %}

.content-wrapper {
    margin-bottom: 3rem;
}

.content-wrapper .content-inner h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.content-wrapper .content-inner .text {
    font-size: 1rem;
    line-height: 1.3rem;
}

.content-wrapper .content-inner .content-block {
    margin-bottom: 2rem;
}

.content-wrapper .align-left {
    text-align: left;
    align-items: flex-start;
}

.content-wrapper .align-center {
    text-align: center;
    align-items: center;
}

.content-wrapper .align-right {
    text-align: right;
    align-items: flex-end;
}

@media (min-width: 1024px) {
    .content-wrapper .content-inner h2 {
        font-size: 2rem;
    }
}

{% endstyles %}

{% schema %}
 {
    "name": "Content Generic",
    "description": "Content Generic Block",
    "settings": [
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "align-left",
                    "label": "Left"
                },
                {
                    "value": "align-center",
                    "label": "Center"
                },
                {
                    "value": "align-right",
                    "label": "Right"
                }
            ],
            "default": "align-left"
        }
    ],
    "blocks": [
        {
            "type": "text_block",
            "name": "Text Block"
        }
    ]
}
{% endschema %}