<div class="content-block">
    <h2  style="color: {{ block.heading_color }};">{{ block.header_text }}</h2>
    <div class="text" style="color: {{ block.text_color }};">
        {{ block.desc_text }}
    </div>
</div> 

{% schema %}
 {
    "name": "Text Block",
    "settings": [
        {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Text Color",
            "default": "#111111"
        },
        {
            "type": "richtext",
            "id": "desc_text",
            "label": "Description"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#111111"
        }
    ]
}
{% endschema %}